[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
cairosvg = "*"
Pillow = "*"
reportlab = {version="<5.0.0", extras=["renderpm"]}
svglib = "*"

[reportlab-only]
Pillow = "*"
reportlab = {version="<5.0.0", extras=["renderpm"]}
svglib = "*"

[svg-only]
Pillow = "*"

[dev-packages]
