[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
Pillow = "*"

[svglib]
Pillow = "*"
reportlab = {version="*", extras=["renderpm"]}
svglib = "*"

[cairosvg]
Pillow = "*"
cairosvg = "*"
